header{

}

.header-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-top-email{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
}

.header-top-phone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top-icon{
    color: #5C5C5C;
    margin-right: 10px;
}

.header-top-icon::before{
    width: 10px;
    height: 10px;
}

.header-top-text{
    color: #5C5C5C;
    font-family: Mulish;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.header-bottom{
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 65px;
}

.header-nav{
    color: #4F542D;
    font-family: Wix Madefor Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all ease 0.5s;
}

.header-nav:hover {
    color: #698E2A;
    fill: radial-gradient(54.46% 54.46% at 50% 57.14%, rgba(105, 142, 42, 0.15) 0%, rgba(171, 189, 56, 0.00) 100%);
 }

.header-nav-phone{
    color: #4F542D;
    font-family: Wix Madefor Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all ease 0.5s;
}

.header-nav-phone:hover {
    color: #698E2A;
    fill: radial-gradient(54.46% 54.46% at 50% 57.14%, rgba(105, 142, 42, 0.15) 0%, rgba(171, 189, 56, 0.00) 100%);
 }

.header-nav-phone:not(:first-child){
    margin-top: 35px;
}

.header-bottom-line{
    background-color: #658B29;
    width: 100%;
    height: 1px;
    margin-top: 14px;
}

.header-bottom-toggle{
    display: flex;
    align-items: center;
}

.header-bottom-nav-phone{
    display: none;
    margin-left: 28px;
}

.button-nav-phone{

}

.icon-bar{
    color: #658B28;
}

.icon-x{
    color: #658B28;
}

#collapseExample{
    position: absolute;
    width: 100%;
    max-width: 220px;
    transform: translate(calc(-100% + 14px), 14px);
    z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header-bottom-nav{
        display: none;
    }

    .header-bottom-nav-phone{
        display: block;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .header-bottom-nav{
        display: none;
    }

    .header-bottom-nav-phone{
        display: block;
    }
}