#section-5 {
    padding: 50px;
}

.section-5-title {
    max-width: 833px;
    margin: 0 auto;
}

.section-5-title p {
    text-align: center;
}

.section-5-button {
    margin-top: 75px;
}

.section-5-line {
    margin-top: 17px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.90);
}

.section-5-layout {
    margin-top: 57px;
}

.section-5-typo {
    color: #151515;
    font-family: Mulish;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.section-5-image {
    margin-top: 50px;
}

.section-5-image img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.section-5-technology {
    margin-top: 103px;
    display: flex;
    align-items: center;
}

.section-5-technology-img {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-5-technology-img img:not(:last-child) {
    max-width: 307px;
    height: 246px;
}

.section-5-technology-img-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 123px;
    max-height: 123px;
    background-color: #fff;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-5-technology-content {
    margin-left: 120px;
}

.section-5-technology-text {
    color: #6A6932;
    font-family: Mulish;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
}

.section-5-technology-title {
    color: #698E2A;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 24px;
}

.section-5-technology-desc {
    color: #BAB86C;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
}

.section-5-technology-check {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.section-5-technology-check-text {
    color: #000;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 21px;
}

.section-5-systems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 88px;
}

.section-5-system-item {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 40px;
    max-width: 356px;
    height: 370px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.mb_block {
    display: none;
}

.section-5-system-item:hover {
    scale: 1.05;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.section-5-system-img {
    transform: translateY(-23px);
}

.section-5-system-title {
    color: #436300;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.section-5-system-desc {
    color: rgba(0, 0, 0, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
}

.section-5-time-lapse {
    background: #F9F9F7;
    margin: 0 -50px;
    margin-top: 73px;
    padding: 45px 0;
}

.section-5-time-lapse-left img {
    transition: all ease 0.5s;
    cursor: pointer;
    margin-top: 14px;
}

.section-5-time-lapse-left img:hover {
    scale: 1.05;
}

.section-5-time-lapse-text {
    color: #6A6932;
    font-family: Mulish;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.section-5-time-lapse-title {
    color: #698E2A;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-5-time-lapse-content {
    color: #000;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding-top: 80px;
}

.container .main-card {
    display: flex;
    justify-content: space-evenly;
    width: 300%;
    transition: 1s;
}


#one:checked~.main-card {
    margin-right: -5%;
}

#two:checked~.main-card {
    margin-left: -100%;
}

#three:checked~.main-card {
    margin-left: -150%;

}

.container .main-card .cards {
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
}

.main-card .cards .card {
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

.main-card .cards .card:hover {
    transform: translateY(-15px);
}

.cards .card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards .card .content .img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #FF676D;
    margin-bottom: 14px;
}

.card .content .img img {
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
}

.card .content .name {
    font-size: 20px;
    font-weight: 500;
}

.card .content .job {
    font-size: 20px;
    color: #FF676D;
}

.card .content .media-icons {
    margin-top: 10px;
    display: flex;
}

.media-icons a {
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #FF676D;
    transition: all 0.3s ease;
}

.media-icons a:hover {
    color: #FF676D;
    background-color: #fff;
    border-color: #FF676D;
}

.container .button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button label {
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #fff;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button label.active {
    width: 15px;
}

#one:checked~.button .one {
    width: 15px;
    border: 5px solid green;
}

#one:checked~.button .two {
    width: 15px;
}

#two:checked~.button .one {
    width: 15px;
}

#two:checked~.button .two {
    width: 15px;
    border: 5px solid green;


}

#three:checked~.button .three {
    width: 15px;
    border: 5px solid green;

}

input[type="radio"] {
    display: none;
}

label.two {
    border: 1px solid green;
}

label.one {
    border: 1px solid green;
}

label.three {
    border: 1px solid green;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* position dots in carousel */
    .flickity-page-dots {
        bottom: 0px;
    }

    /* white circles */
    .flickity-page-dots .dot {
        width: 12px;
        height: 12px;
        opacity: 1;
        background: transparent;
        border: 1px solid #698E2A;
    }

    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
        border: 3px solid #698E2A;
        background-color: white;
    }

    .flickity-page-dots {
        background-color: white;
        margin-top: 40px;
    }

    .gallery {
        margin-top: 127px;
    }

    .card-cell img {
        width: 80%;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
        background-color: #fff;
    }

    .card-cell {
        min-height: 550px;
    }

    .flickity-button {
        display: none;
    }

    .card-cell-title {
        text-align: center;
        color: #436300;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 24px;
    }

    .cart-cell-content {
        text-align: center;
        color: rgba(0, 0, 0, 0.70);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 30px;
        margin-bottom: 20px;
    }

    .section-5-layout {
        flex-direction: column;
    }

    .section-5-button {
        margin-top: 41px;
        margin-bottom: 50px;
    }

    .section-5-time-lapse-right {
        width: 100%;
    }

    .button-secondary-text {
        white-space: nowrap;
    }

    .section-5-technology-content {
        margin-left: 40px;
    }

}


@media screen and (max-width: 767px) {

 /* position dots in carousel */
 .flickity-page-dots {
    bottom: 0px;
}

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 1px solid #698E2A;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    border: 3px solid #698E2A;
    background-color: white;
}

.flickity-page-dots {
    background-color: white;
    margin-top: 40px;
}

.gallery {
    margin-top: 127px;
}

.card-cell img {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 27px;
    background-color: #fff;
}

.card-cell {
    min-height: 420px;
}

.flickity-button {
    display: none;
}

.card-cell-title {
    text-align: center;
    color: #436300;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

.cart-cell-content {
    text-align: center;
    color: rgba(0, 0, 0, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 30px;
    margin-bottom: 20px;
}

    #section-5 {
        padding: 0;
    }

    .section-5-title .text-dark-secondary-bold {
        text-align: left;
    }

    .textLeft {
        text-align: left !important;
    }

    .section-5-technology {
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
    }

    .section-5-technology-content {
        margin-left: 0;
        margin-bottom: 50px;
    }

    .hidden {
        display: none;
    }

    .mb_block {
        display: block;

    }

    .section-5-layout {
        flex-direction: column;
        margin-top: 30px;
    }

    .section-5-time-lapse-left,
    .section-5-time-lapse-right {
        width: 100%;
    }

    .button-secondary-text {
        font-size: 15px;
        white-space: nowrap;
    }

    img.section-5-time-lapse-left-img {
        width: 100%;
    }

    .section-5-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 41px;
        margin-bottom: 50px;
    }

    .section-5-time-lapse {
        margin: 0;
    }

    .container {
        max-width: 950px;
        width: 100%;
        overflow: hidden;
        padding-top: 80px;
    }

    .container .main-card {
        display: flex;
        justify-content: space-evenly;
        width: 300%;
        transition: 1s;
    }


    #one:checked~.main-card {
        margin-right: -5%;
    }

    #two:checked~.main-card {
        margin-left: -100%;
    }

    #three:checked~.main-card {
        margin-left: -150%;

    }

    .container .main-card .cards {
        width: calc(100% / 2 - 10px);
        display: flex;
        flex-wrap: wrap;
        margin: 0 20px;
        justify-content: space-between;
    }

    .main-card .cards .card {
        width: calc(100% / 3 - 10px);
        background: #fff;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.4s ease;
    }

    .main-card .cards .card:hover {
        transform: translateY(-15px);
    }

    .cards .card .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cards .card .content .img {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        padding: 3px;
        background: #FF676D;
        margin-bottom: 14px;
    }

    .card .content .img img {
        height: 100%;
        width: 100%;
        border: 3px solid #ffff;
        border-radius: 50%;
        object-fit: cover;
    }

    .card .content .name {
        font-size: 20px;
        font-weight: 500;
    }

    .card .content .job {
        font-size: 20px;
        color: #FF676D;
    }

    .card .content .media-icons {
        margin-top: 10px;
        display: flex;
    }

    .media-icons a {
        text-align: center;
        line-height: 33px;
        height: 35px;
        width: 35px;
        margin: 0 4px;
        font-size: 14px;
        color: #FFF;
        border-radius: 50%;
        border: 2px solid transparent;
        background: #FF676D;
        transition: all 0.3s ease;
    }

    .media-icons a:hover {
        color: #FF676D;
        background-color: #fff;
        border-color: #FF676D;
    }

    .container .button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .button label {
        height: 15px;
        width: 15px;
        border-radius: 20px;
        background: #fff;
        margin: 0 4px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .button label.active {
        width: 15px;
    }

    #one:checked~.button .one {
        width: 15px;
        border: 5px solid green;
    }

    #one:checked~.button .two {
        width: 15px;
    }

    #two:checked~.button .one {
        width: 15px;
    }

    #two:checked~.button .two {
        width: 15px;
        border: 5px solid green;


    }

    #three:checked~.button .three {
        width: 15px;
        border: 5px solid green;

    }

    input[type="radio"] {
        display: none;
    }

    label.two {
        border: 1px solid green;
    }

    label.one {
        border: 1px solid green;
    }

    label.three {
        border: 1px solid green;
    }

}